@use "sass:math";

@import '../variables/variables';

@import '../mixins/mixins';

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.wp-list-table {
	.column-menu_order {
		$size: 38px;
		width:$size + 20px;
		text-align: center;
		vertical-align:middle;
		.sort-handle {
			$size: 38px;
			position: relative;
			display: inline-block;
			box-sizing: border-box;
			background-color:#fff;
			border:1px solid $wp-gray;
			box-shadow:0 0 4px rgba(0,0,0,0.1);
			text-align:center;
			padding: math.div( $size - 10px, 2) 0;
			line-height:10px;
			min-width:$size;
			min-height:$size;
			border-radius:math.div($size, 2);
			cursor:move;
			&.sync {
				&::before {
					content: '';
					display: block;
					width: ( $size - 10px );
					height: ( $size - 10px );
					position: absolute;
					left: 5px;
					top:5px;
					border: 6px dotted $wp-gray-dark;
					border-radius:50%;
					box-sizing: border-box;
					animation: rotating 2s linear infinite;
					background:#fff;
				}
			}
		}
	}
	.ui-sortable-helper {
		//dragged column
//		background:#ff0;
	}
	.ui-sortable-placeholder {
		& ~ :nth-child(odd) {
			background-color:transparent;
			//background-color:#f00;
		}
		& ~ :nth-child(even) {
			background-color:$wp-gray-lighter;
			//background-color:#00f;
		}
		//dragged column
//		background:#ff0;
	}
}
